#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	cannectivity: cannectivity {
		compatible = "cannectivity";
		timestamp-counter = <&counter2>;

		channel0 {
			compatible = "cannectivity-channel";
			can-controller = <&can1>;
			state-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
			activity-gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
		};
	};
};

&zephyr_udc0 {
	gs_usb0: gs_usb0 {
		compatible = "gs_usb";
	};
};

&can1 {
	status = "okay";
	pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
	pinctrl-names = "default";
};

&timers2 {
	st,prescaler = <107>;
	counter2: counter {
		status = "okay";
	};
};
